.example-container {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    font-family: 'Quattrocento Sans',sans-serif !important;
  }
  
  .example-header {
    min-height: 50px;
    padding: 5px 18px 0;
  }
  
  .mat-form-field {
    font-size: 10px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
